<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Grow Street</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>
    <div class="container">

      <div class="hero-unit">
        <h1>Grow Street</h1>
        <p>Foodscaping. Advanced Ecosystems. Organic Urban Farming.</p>
        <p style="display:none"><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div> <!-- /hero-unit -->

      <div class="row" id="main">
        <div class="span6" id="photos">
          <div id="carousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Foodscaping</h4>
                  <p>...</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Advanced Ecosystems</h4>
                  <p>...</p>
                </div>
              </div>
              <div class="item">
                <img src="/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                <div class="carousel-caption">
                  <h4>Organic Urban Farming</h4>
                  <p>...</p>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div> <!-- /carousel -->
        </div> <!-- /photos -->

        <div class="span4" id="mission">
          <h2>Mission</h2>
           <p>Grow Street is focused on the development of backyard and rooftop soil gardens as well as vertical plant installations.</p>
           <p>We create beautiful edible landscapes accented with medicinal herbs and wildflowers, which, taken together, help deter unwanted pests and allow our clients to grow the highest quality herbs and vegetables.</p>
           <p>In addition, we offer classes on food preservation and advice on how to expertly prepare the many vegetables your garden will produce.</p>
           <p>At Grow Street, we are dedicated to creating a local and sustainable organic food supply by bringing the cultivation of food back home.</p>
           <p style="display:none;"><a class="btn" href="#">View details &raquo;</a></p>
        </div> <!-- /mission -->

        <div class="span2" id="contact">
          <h2>Contact us</h2>
          <p><a class="btn" href="mailto:adam@growstreet.org">adam@growstreet.org</a></p>
        </div> <!-- /contact -->
      </div> <!-- /main -->

      <hr>

      <footer>
        <p>&copy; Grow Street, <%= Date.today.year %></p>
      </footer> <!-- /footer -->

    </div> <!-- /container -->

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>

    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
        $('#carousel').carousel({interval:3000});
      });
    </script>

  </body>
</html>
